.nav {
  background-color: grey;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.link {
  font-size: 30px;
  display: flex;
  color: white;
  text-decoration: none;
  margin: 20px;
  
}
.para {
  max-width: 200px ;
}
.open {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 400px){
  .nav {
    height: 50px;
    justify-content: center;
  }
  .link {
    font-size: 10px;
  }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin: 20px;
}
}